/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 800px;
  margin-left: 160px;
}
.gwt-DialogBox a:hover{
  color: #ffffff;
  text-decoration:none;
  background-color: #2196F3;
}
.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.btn{
	margin-top: 15px;
}
.btn-success{
	margin-left: 140px;
	position: absolute;
	left: 35%;
}
.login{
	margin-top:15px;
	position: absolute;
	right: 1%;
	
}

.registrati{
	margin-top:15px;
	margin-left:10px;
}

.rinominaButton{
	margin-top:15px;
	position: absolute;
	left: 18%;
}

.inserimentoButton{
	margin-top:15px;
	position: absolute;
	left: 1%;
}

.bottoneGiudice{
	margin-top:15px;
	position: absolute;
	left: 65%;
}

.logout{
	margin-top:15px;
	position: absolute;
	right: 1%;
}

.pannello{
	background-color: #bababa;
	height:80px;
	width:100%;
	border: 2px solid Black;
	/* border-radius: 4px; */
}
#sinistra{
	width: 500px;
}
#pannellouser{
	float:right;
	widht: 100%;
}
#labeluser{
	font-size: 43px;
    float: right;
    font-family: monospace;
    position: absolute;
    top: 10px;
    right: 10px;
    text-shadow: 0 0 0px #fff, 0 3px 6px #333, 0px 5px 11px #333, 0px 4px 27px #333, 2px -2px 16px #333;
    color: transparent;
}

.defaultLabel{
	margin-top:30px;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #2196F3;	
}
.campodomanda{
	border-left: 6px solid #2196F3;
    border-bottom: 4px solid;
    border-bottom-style: double;
    border-bottom-color: cornflowerblue;
    background-color: ghostwhite;
	margin-bottom: 10px;
	margin-left: 100px;
    width: 670px;
	display: inline-block;
}
.labeldata{
	color: #000000;
	font-style: italic;
	font-size: 11px;
}
.labeldomanda{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 18px;
	text-shadow: 3px 3px 7px white;
	cursor: pointer;
}
.gwt-TreeItem{
	font-weight: bold;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-shadow: 3px 3px 9px #999;
}
.categorieTop{
	font-weight: bold;
	font-size: 25px;
	border-bottom: 6px solid #fbfcff;
	border-left: 6px solid #ff323f;
	margin-top: 5px;
	margin-bottom: 5px;
}
.categorieTop:hover{
	border-right: 6px solid #2196F3;
	cursor:pointer;
}
#catSelezionata{
	font-size: 35px;
	text-shadow: 10px 4px #e6e6e6;
	color: #2196F3;
	margin-top: 10px;
	margin-bottom:20px;
}
#titoloInsDomanda{
	font-size: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #2196F3;	
	margin-top: 5px;
	padding-left: 10px;
}
#titoloInsRisposta{
	font-size: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #6bfb63;	
	margin-top: 5px;
	padding-left: 10px;
}
#titoloSelCategoria{
	font-size: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #2196F3;	
	margin-top: 5px;
	padding-left: 10px;
}
#textArea{
	font-size: 15px;
	width: 500px;
}
.bottoniInvia{
	background-color: #ffffff;
    border: none;
    color: #2196F3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-right:6px solid #ff323f;
    border-bottom: 6px solid #ffffff;
}
.bottoniInvia:hover{
	background-color: #2196F3;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-right:6px solid #6bfb63;
    border-bottom: 6px solid #ffffff;
}
.buttonDialog{
	background-color: #e6e6e6;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#testoDomanda{
	color: #000000;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#dataDomanda{
	color: #000000;
	font-style: italic;
	font-size: 9px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#catDomanda{
	color: #ff323f;
	font-weight: bold;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.camporisposta{
	border-left: 6px solid #6bfb63;
    border-bottom: 4px double;
    border-bottom-color: #6bfb63;
    background-color: #e6e6e6;
	margin-bottom: 5px;
	width: 550px;
	display: inline-block;
}
.testorisposta{
	font-size: 13px;
	text-align: left;
	padding-top: 20px;
	margin-bottom: 10px;
}
.autorerisposta{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	float: left;
}
.datarisposta{
	color: #000000;
	font-style: italic;
	font-size: 10px;
	text-align: right;
	float: right;
}
#buttonvoto{
	background-color: #e6e6e6;
    color: #000000;
    margin-left: 100px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border:3px solid #ffffff;	
}
#buttonvoto:hover {
	border:3px solid #6bfb63;
}
.buttoncancella{
	background-color: #e6e6e6;
    color: #000000;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border:3px solid #ffffff;
	float: right;
}
.buttoncancella:hover {
	text-decoration: none;
	border:3px solid #ff323f;
}
.mostragiudici{
	background-color: #e6e6e6;
	color: #000000;
	font-size: 16px;
	margin-top: 22px;
	margin-bottom: 5px;
	text-decoration: none;
	text-align: center;
	float: right;
	cursor: pointer;
}
.mostragiudici:down {
	background-color: #000000;
}
.popupgiudici{
	border-style: inset;
	background: #e6e6e6;
	width: 80px;
	word-wrap: break-word;
	word-spacing: 30px;
	font-weight: bold;
    text-transform: capitalize;
}
.tab{
	border-left: 6px solid #2196F3;
    /*background-color: #ddffff;*/
    background-color: #e6e6e6;
	margin-bottom: 10px;
	width: 500px;
	display: inline-block;
}
#buttonstatus{
	text-decoration: none;
	background-color: #e6e6e6;
    color: #000000;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border:3px solid #e6e6e6;
}
#buttonstatus:hover {
	border:3px solid #2196F3;
}
.labelgiudice{
	color: #6bfb63;
	font-size: 15px;
	font-weight: bold;
	margin-left: 130px;
	margin-top: 20px;
	text-shadow: 0 0 7px black;
	float: left;
	position: absolute;
	left: 400px;
}
.labelnongiudice{
	color: #ff323f;
	font-size: 15px;
	font-weight: bold;
	margin-left: 130px;
	margin-top: 20px;
	text-shadow: 0 0 7px white;
	float: left;
	position: absolute;
	left: 400px;
}
.labelnomeut{
	float:left;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 3px 3px 7px black;
}

#buttoncancrisp{
	background-color: #e6e6e6;
    color: #000000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border:3px solid #ffffff;
    float:left;	
}
#buttoncancrisp:hover {
	border:3px solid #ff323f;
}
.giudiziorisposta{
	margin: 10px;
    margin-left: 15px;

}
#line{
	width: 95%;
}
.labelmedia{
	position: absolute;
    right: 495px;
    font-family: monospace;
}
#medianum{
	position: absolute;
    right: 470px;
    font-size: 16px;
    font-weight: bold;
}
#buttoneliminadom{
	float: right;
	background-color: #e6e6e6;
    color: #000000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border:3px solid #ffffff;
}
#buttoneliminadom:hover {
	border:3px solid #ff323f;
}
#titleins{
	font-size: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #2196F3;	
	margin-top: 5px;
	padding-left: 10px;
	height: 25px;
}
#titlerin{
	font-size: 30px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ffffff;
	border-left: 6px solid #2196F3;	
	margin-top: 5px;
	padding-left: 10px;
	height: 25px;
}
#labelvuoto{
	font-size: 23px;
    word-wrap: break-word;
    margin-bottom: 10px;
    border-bottom: 3px solid #2196F3;
    border-left: 6px solid #ff323f;
    border-right: 6px solid #ffffff;
    margin-top: 30px;
    padding-left: 10px;
    height: 25px;
}
#titolo{
	font-size: 50px;
    font-family: monospace;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow: 0 0 0px rgba(0,0,0,0.25), 0 3px 0px #333, 0px 5px 11px rgba(255,255,255,0.15), 0px 4px 27px rgba(0,0,0,0.075), 2px -2px 16px #ffffff;
    color: transparent;
}
#nogiudice{
	margin-left:80px;
}











